<mat-form-field [formGroup]="formGroup" appearance="fill" style="width: 100%">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="emailId" placeholder="Ex. mail@example.com" required />
    <mat-error *ngIf="emailId!.hasError('email') && !emailId!.hasError('required')">
        Please enter a valid email address.
    </mat-error>
    <mat-error *ngIf="emailId!.hasError('required')"> Email is <strong>required</strong>. </mat-error>
    <mat-error *ngIf="emailId!.hasError('freeEmail')">
        Please enter a work email, <strong> Free Email Ids </strong> are not accepted.
    </mat-error>
</mat-form-field>
